/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

body {
	font-family: 'Abril Fatface', cursive;
	color: #202030;
	background-color:#F2D0FB;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #9E22FF;

}


.resume-main {
	background-color: #FFFFFF;
	border-top: solid;
	border-color: #000000;
}

.resume-aside {
	background-color: #CE8EFF;
	border-left: solid; 
	border-top: solid;
	border-color: #000000;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #660080;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

.fw-bolder {font-family: 'Abril Fatface', cursive;
color: #FFFFFF}

.language-progress {background-color: #FFFFFF !important;}
.border {border-color: #600FA2 !important} 

.white-text {color:white;}

.languages-white-text {color: white}

.language-name {color: white}

.other-skills-white-text {color: white}

.skill-item {color: white}

.interest-and-hobbies-white-text {color:white}

.bold-900 {
	font-family: 'Prompt', sans-serif;
	font-weight: 900;}

.medium-500 {
	font-family: 'Prompt', sans-serif;
	font-weight: 500;}

.bold-500-cursive {
	font-family: 'Prompt', sans-serif;
	font-weight: 500 , cursive;} 

.align-items-center {color: powderblue}
