/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

body {
	font-family: Lato, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #202030;
	background-color:#E18AEB;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #FBD4FB;

}

.resume-main {
	background-color: #FBD4FB;
	border-top: solid;
	border-color: #67138A;
}

.resume-aside {
	background-color: #FBD4FB;
	border-left: solid; 
	border-top: solid;
	border-color: #67138A;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #660080;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}

.fw-bolder { font-family: 'Rampart One', cursive;
color: #7311BD}

h2 {font-family: 'Montserrat', sans-serif;} 

h4 {font-family: 'Montserrat', sans-serif;} 


.language-progress {background-color: #BC76CA !important;}
.border {border-color: #600FA2 !important} 
